*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1.5;
  text-decoration: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

:root {
  --default-padding: 2rem;
  --main-color: #1e293b;
  --cell-size: 8rem;
  --cell-border-size: 0.125rem;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  font-family: Roboto;
  font-size: 1rem;
}

header {
  padding: var(--default-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
strong {
  font-weight: 500;
}

#gameboard {
  height: calc(3 * --cell-size);
  width: calc(3 * --cell-size);
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-auto-rows: var(--cell-size);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cell-size);
  width: var(--cell-size);
  font-weight: 700;
  font-size: calc(0.75 * var(--cell-size));
}
.top {
  border-bottom: var(--cell-border-size) solid var(--main-color);
}
.middleRow {
  border-top: var(--cell-border-size) solid var(--main-color);
  border-bottom: var(--cell-border-size) solid var(--main-color);
}
.bottom {
  border-top: var(--cell-border-size) solid var(--main-color);
}
.left {
  border-right: var(--cell-border-size) solid var(--main-color);
}
.middleCol {
  border-left: var(--cell-border-size) solid var(--main-color);
  border-right: var(--cell-border-size) solid var(--main-color);
}
.right {
  border-left: var(--cell-border-size) solid var(--main-color);
}

footer {
  padding: var(--default-padding);
  text-align: center;
}